@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:is(.dark .dark\:dark) {
  background: linear-gradient(109.6deg, rgb(47, 50, 54) 0%, rgb(15 23 42) 100%);
  /* background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%); */
}

:is(.dark .dark\:dark-nav) {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

.light {
  background: linear-gradient(135deg, #f5f1eb 0%, rgb(235, 216, 201) 100%);
}

.light-nav {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-padding-top: 139px;
  overscroll-behavior: none;
}

section {
  scroll-margin-top: 139px;
}

.banner {
  background-image: url(/banner.jpg);
  background-size: 150rem;
}
